<launch>
    <!-- ORB-SLAM3 -->
    <node name="orb_slam3_stereo_acc_filtersubscriber" pkg="orb_slam3_ros_wrapper" type="orb_slam3_ros_wrapper_stereo_acc_filtersubscriber" output="screen">
        <!-- for TUM dataset -->
        <remap from="/camera/left/image_raw"    to="/cam0/image_raw"/>
        <remap from="/camera/right/image_raw"   to="/cam1/image_raw"/>
        <remap from="/camera/left/keypoints"   to="/cam0/keypoints"/>
        <remap from="/camera/right/keypoints"   to="/cam1/keypoints"/>
        <remap from="/camera/left/descriptors"   to="/cam0/descriptors"/>
        <remap from="/camera/right/descriptors"   to="/cam1/descriptors"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string"   value="$(find orb_slam3_ros_wrapper)/config/ORBvoc.txt" />
        <param name="settings_file" type="string"   value="$(find orb_slam3_ros_wrapper)/config/TUM-VI_1024.yaml" />

    </node>
</launch>
